<% if user_signed_in? %>
  <h1> A place to ask questions! </h1>
  <%= button_to "Ask question", new_question_path, method: :get %>

  <br>
  <hr>
  <%= button_to "All questions", questions_path, method: :get %>

<%else%>
  <%= link_to "Sign in", new_user_session_path %>
<%end%>
